page-home {
	ion-col{
		font-size:18px;
	}
}
.border{
	border: 1px solid #dee2e6!important;
}

.fondo{
	background-color:#808080;
	 color: white;
}

.white{
	color:white;
}

ion-item{
	background-color:#808080;
}

.userpng{
	font-size:75px;
}

