.userpngMnu{
	font-size:30px;
}

.fondo{
	background-color:black;
	 color: white;
}


.mouseovermenu:hover{
	background-color:#808080;
}

.adp, .adp table {
	color:white;
}

.adp-placemark{
	color:white;
	background-color:black;
}

.white{
	color:white;
}
.item-datetime .label-md{
	color :white;	
}

