.userpngMnu{
	font-size:25px;
}

.fondo{
	background-color:black;
	 color: white;
}


.mouseovermenu:hover{
	background-color:#808080;
}

.adp, .adp table {
	color:white;
}

.adp-placemark{
	color:white;
	background-color:black;
}

.white{
	color:white;
}
.item-datetime .label-md{
	color :white;	
}

.alert{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

 .alert-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
 }


